<button class="waves-effect waves-light btn" data-toggle="modal" data-target="#addblood">New</button>
<div class="table-responsive">

                
    <table id="mytable" class="table table-bordred table-striped">
         
         <thead style='background-color:#50509c;color:white'>
         <th>Recipient Name</th>
         <th>Contact Number</th>
         <th>required blood group</th>   
         <th>Edit</th>
            
             <th>Delete</th>
             <th>Registrations</th>
         </thead>
<tbody>
{% for blood in bloods %}
<tr>

<td>{{blood.1}}</td>
<td>{{blood.2}}</td>
<td>{{blood.3}}</td>
<td><p data-placement="top" data-toggle="tooltip" title="Edit"><button onclick=editBloodModal({{blood.0}}) class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button onclick=deleteBlood({{blood.0}}) class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
{% if blood.4 != 0 %}
<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button onclick=viewSubmits({{blood.0}}) class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><b>{{blood.4}}</b> | View Submits </button></p></td>
{% else %}
<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >No Submissions </button></p></td>
{% endif %}
</tr>
{% endfor %}
<script>
  
  var editbloodid=null;
  function viewSubmits(id){
    $("#rightPane").load("liststudents?id="+id+'&type=bloodregistrations&back=showallbloods'); 
    }
  function editBloodModal(id){
    
    document.getElementById('name1').focus();
      document.getElementById('blood1').focus();
      document.getElementById('contact1').focus();
    {% for blood in bloods %}
    if({{blood.0}}==id)
    {
      editbloodid=id;
      document.getElementById('name1').value='{{blood.3}}';
      document.getElementById('blood1').value='{{blood.1}}';
      document.getElementById('contact1').value='{{blood.2}}';
      var d = new Date("{{blood.3}}");
      console.log(d)
      //document.getElementById('date').value=d;
    }
    {% endfor %}
    
  }
  function editBlood(id){
    title=document.getElementById('title').value;
                        description=document.getElementById('description').value;
                        date=document.getElementById('date').value;
  }
    function deleteBlood(id){
        $.post( "deleteblooddata",{'id':id}, function( data ) {
            $("#rightPane").load("showallbloods");
}
);
    }
</script>


</tbody>

</table>


      
  </div>
  <div id="addblood" class="modal fade" role="dialog">
  
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">blood Details</h4>
      </div>
      <div class="modal-body">
          <div class="row" style='background-color:white;margin-top:2%'>
              <form class="col-lg-8" >
                <div class="row">
                  <div  class="input-field col s6 ">
                    
                    <input id="name" type="text" class="validate">
                    <label for="name">Name</label>
                  </div>
                </div>
                
                <div class="row">
                  <div class="input-field col s12">
                    <input id="contact" type="Number" class="validate">
                    <label for="contact">Contact Number</label>
                  </div>
                </div>
                <div class="row">
                  
                  <div class="input-field col s12">
                    
                    <input id="blood" type="text" class="validate">
                    <label for="blood">required blood </label>
                  </div>
                </div>
                
            <a class="waves-effect waves-light btn" onclick=insertNewBlood() >ADD</a>
              </form>
              
            </div>
                  
      </div>
    </div>

</div>
  <div id="myModal" class="modal fade" role="dialog">
  
      <!-- Modal content-->
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">blood Details</h4>
        </div>
        <div class="modal-body">
            <div class="row" style='background-color:white;margin-top:2%'>
                <form class="col-lg-8" >
                  <div class="row">
                    <div  class="input-field col s6">
                      
                      <input id="name1" type="text" class="validate">
                      <label for="name1">Name</label>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="contact1" type="Number" class="validate">
                      <label for="contact1">Contact Number</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="blood1" type="text" class="validate">
                      <label for="blood1">required blood </label>
                    </div>
                  </div>
                  
              <a class="waves-effect waves-light btn" onclick=updateBlood() >Update</a>
                </form>
                
              </div>
                    
        </div>
      </div>
  
  </div>
  <div id="myModal" class="modal fade" role="dialog">
    <script>
      function updateBlood(){
        name=document.getElementById('name1').value;
          contact=document.getElementById('contact1').value;
          blood=document.getElementById('blood1').value;
          
          $.post('updateblood',{'id':editbloodid,'name':name,'contact':contact,'blood':blood},function(data,status){

            $(".modal-backdrop").remove();
$("#myModal").hide();
              $("#rightPane").load("showallbloods");
          })
      }
      function insertNewBlood(){
          name=document.getElementById('name').value;
          contact=document.getElementById('contact').value;
          blood=document.getElementById('blood').value;
          $.post('insertnewblood',{'name':name,'contact':contact,'blood':blood},function(data,status){

            $(".modal-backdrop").remove();
$("#myModal").hide();
              $("#rightPane").load("showallbloods");
          })
      }
  </script>
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
          <div class="row" style='background-color:white;margin-top:2%'>
              <table>
                <thead>
                  <th>Sl. No</th>
                  <th> Student Name</th>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
                
            <a class="waves-effect waves-light btn"  >CLOSE</a>
              
            </div>
                  
      </div>
    </div>

</div>