<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% load static %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
  
tr:nth-child(even) {
  background-color:#50509c;
  color:white;
  }
</style>
<!-- Latest compiled JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <body style=background:url('{% static 'adminWallpaper.jpg' %}')>
        <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">RACE</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li><a href="">ADMIN PANEL</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span > Logout</a></li>
                </ul>
              </div>
            </div>
          </nav>
        <div class='row justify-content-center' >
        <div class='col-lg-2' style=background-color:white>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" onclick=loadHtml('students')>Student Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" onclick=loadHtml('bloods')>Blood requirements</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" onclick=loadHtml('jobs')>Job requirements</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" onclick=loadHtml('events')>Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" onclick=loadHtml('feedbacks')>Feedback</a>
                </li>
              </ul>
        </div>
        <script>
          $(document).ready(function(){
            $("#rightPane").load("showallstudents");
          });
          function loadHtml(option){
          if (option=='students')
          {
            $("#rightPane").load("showallstudents");
          }
          else if (option=='bloods')
          {
            $("#rightPane").load("showallbloods");
          }
          else if (option=='events')
          {
            $("#rightPane").load("showallevents");
          }
          else if (option=='jobs')
          {
            $("#rightPane").load("showalljobs");
          }
          else if (option=='feedbacks'){
            $("#rightPane").load("showallfeedbacks");
          }          
        }
        </script>
        <div class='col-lg-10 '>
            
            <div id='rightPane'></div>
              
          </div>
      </div>
  </div>
  
  
        </div>
        </div>
    </body>
<script>


</script></html>