<div style='background-color:white'>
  <div class="row">
      <form class="col s12">
        <div class="row">
          <h3 style='color:black;margin-bottom:50px;margin-left:20px'>Submit Feedback</h3>
          <div class="input-field col s6">
            
            <i class="material-icons prefix">mode_edit</i>
            <textarea style='color:green'  id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2" style="top: -20px;">Feedback</label>
          </div>
        </div>
      </form>
    </div>
    <script>
      function sendfeedback(){
        data=document.getElementById('icon_prefix2').value;
        if(data==''){
          alert('Feedback Cannot be empty')
          return
        }
    $.get('insertstudentfeedback',{'feedback':data}, function(data, status){
      alert('feedback successfull');
}); 
  }
    </script>
    <a style='margin-bottom:50px;margin-left:50px' onclick='sendfeedback()' class="waves-effect waves-light btn">Submit</a>
</div>