
       
         
            <div class="table-responsive">
                
                <table id="mytable" style='background-color:white' class="responsive-table centered stripped">
                     
                     <thead style='background-color: #26a69a; color: white '>
                     
                     <th>Events</th>
                     <th>Event Date</th>
                        <th>Status</th>
                     </thead>
      <tbody>
        {% for event in events %}
        <td>{{event.1}}</td>
        <td>{{event.3}}</td>
      <td>
        {% if event.4 == 'false' %}
        <p onclick='apply({{event.0}})' data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="eventModal" data-target="#edit" ><span class="glyphicon glyphicon-star"></span>Apply</button></p>
        {% else %}
        <p onclick='cancel({{event.0}})' data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="eventModal" data-target="#edit" ><span class="glyphicon glyphicon-star"></span>Cancel</button></p>
        {% endif %}
      </td>
      </tr>
      {% endfor %}
      </tbody>
          
  </table>
  <script>
    function apply(id){
      $.post('applystudentevents',{'eventid':id}, function(data, status){
        $("#rightPane").load("studentevents");
  }); 
    }
    function cancel(id){
      $.post('cancelstudentevents',{'eventid':id}, function(data, status){
        $("#rightPane").load("studentevents");
  }); 
    }
  </script>
  <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
  <div class="modal-content">
        <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <h4 class="modal-title custom_align" id="Heading"> {{event.1}}</h4>
    </div>
        <div class="modal-body">
       
      <div id='description'></div>
  
      
      </div>
    </div>
        <div class="modal-footer ">
      <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
    </div>
      </div>
  <!-- /.modal-content --> 
</div>
    <!-- /.modal-dialog --> 
  </div>
  <div class="clearfix"></div>
  
                  
              </div>
              
      </div>